<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Application Developer at
      <a class="underline-link" href="https://www.thoughtworks.com/" target="_blank">Thoughtworks</a> 
    </p>

    <p>
      As a software engineer, I find joy in understanding new designs patterns/algorithms and implementing those knowledge in developing solutions.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably <a class="underline-link" href="https://www.strava.com/athletes/35910654" target="_blank">cycling, running</a>, or <a class="underline-link" href="https://www.goodreads.com/user/show/76741261-abhishek-c" target="_blank">reading</a> something new.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
