<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Application Engineer at
      <a class="underline-link" href="https://www.oracle.com/" target="_blank">Oracle</a> With experience working on multi tenant, cloud native, microservice based REST/SOAP web application deployed in Oracle Cloud Infrastructure.
    </p>

    <p>
      As a software engineer, I find immense pleasure in understanding new designs patterns/algorithms and implementing those knowledge in developing enterprise applications, with goal always to build applications that are scalable and efficient.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably <a class="underline-link" href="https://www.strava.com/athletes/35910654" target="_blank">cycling, running</a>, or <a class="underline-link" href="https://www.goodreads.com/user/show/76741261-abhishek-c" target="_blank">reading</a> something new.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
